.App {
  padding: 1.5rem 0rem;
  min-height: 100vh;
}

.card {
  margin: 15px 0px;
  text-align: center;
  user-select: none;
}

.prevNext {
  text-align: center;
  padding: 0rem 1rem 0rem 1rem !important;
}

.heading {
  text-align: center;
  padding: 3rem 0rem;
}
